@import "tailwindcss";

/* Define custom colors and fonts using @theme */
@theme {
  --color-primary-50: #eff6ff;
  --color-yellow: #F9D41B;
  --color-maindark:#000000;
  --color-white:#ffffff;
  --color-lightgray: #212121;
  --color-gray: #AFAFAF;
  /* Font Family */
  --font-sans: "Poppins", sans-serif;
}

/* Global Resets */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-maindark);
  color: var(--color-white);
  font-family: var(--font-sans) !important;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Remove default styles */
button {
  font-family: inherit;
  cursor: pointer;

 
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;

}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Optional: Make it look fully custom */
input[type="number"] {
  appearance: textfield;
}
/* auth */
.auth-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 80px 30px;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/auth-backend.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.yellow-button {
  /* Button Base Styles */
  padding: 16px 32px;
  border: 2px solid #F9DB1B;
  border-radius: 50px; /* Fully rounded corners like in image */
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  /* Gradient Background (Normal State) */
  background: linear-gradient(360deg, #FAAC15 0%, #F9DB1B 100%);
  color: #000000; /* Black text on yellow background */
  outline: none;
}
/* Hover State */
.yellow-button:hover {
  transition: all 0.3s ease;
  background: transparent;
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow);
}
/* auth input */
.auth-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-yellow);
  background-color: transparent;
  color: white;
  padding: 8px 0;
  font-size: 14px;
  transition: border-color 0.3s ease;
  outline: none;
}

/* On focus - keep only bottom border, maybe make it brighter */
.auth-input:focus {
  border-bottom: 1px solid var(--color-yellow);
  box-shadow: none;
}

/* Remove default browser focus styling */
.auth-input:focus-visible {
  outline: none;
}

/* Placeholder text styling */
.auth-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* When typing (has value) */
.auth-input:not(:placeholder-shown) {
  color: white;
}
